.header {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  background: #142e52;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  box-sizing: border-box;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #e3e1f2;
  cursor: pointer;
  text-decoration: none;
}

.header nav {
  display: flex;
  gap: 20px;
  position: relative;
}

.header nav a {
  position: relative;
  margin-left: 20px;
  font-size: 26px;
  text-decoration: none;
  color: #e3e1f2;
  font-weight: 500;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #595f87;
  transition: width 0.25s ease;
}

.header nav a:hover {
  color: #595f87;
  transform: translateY(-1px);
}

.header nav a:hover::after {
  width: 100%;
}
