.hero {
  text-align: center;
  width: 100%;
  min-height: 86vh;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.hero__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  box-sizing: border-box;
}

.hero__content {
  max-width: 520px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 26px;
  margin-bottom: 32px;
}

.hero__image {
  width: 100%;
  max-width: 580px;
  height: auto;
}

.hero button {
  padding: 12px 24px;
  font-size: 26px;
  background: #595f87;
  border: none;
  color: #e3e1f2;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s ease;
  box-shadow:
    0 6px 0 #434766,
    0 8px 16px rgba(0, 0, 0, 0.2);
}

.hero button:hover {
  transform: translateY(-1px);
  filter: brightness(1.1);
  box-shadow:
    0 7px 0 #434766,
    0 10px 18px rgba(0, 0, 0, 0.25);
}

.hero button:active {
  transform: translateY(2px);
  filter: brightness(0.9);
  box-shadow:
    0 3px 0 #434766,
    0 4px 8px rgba(0, 0, 0, 0.2);
}
